/* 0 BASIC TAGS */


table {
	font-size: 1em;
}

h1, h2, h3, h4
{
    margin: 0;    
}

h4.shaded
{
    color: #cccccc;
    display: inline;
}

.shaded
{
    color: #cccccc;
    display: inline;
}

p {
	line-height: 1.4em;
}

hr {
	border: 0;
	border-top: 1px solid #bababa;
	height: 1px;
}

a {
	text-decoration: none;
	color: #6d6f71;
}

a:visited 
{
    text-decoration: none;
	color: #6d6f71;
}

a:hover {
	text-decoration: underline;
	
	color: #6d6f71;
}

a:active 
{
    text-decoration: none;
	color: #6d6f71;
}

body 
{
	background-image: url("./images2/backgrounds/background.jpg");
	background-repeat: repeat-x;
	background-color: #ffffff;	
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;	
	font-size: 12px;	
	color:#6d6f71;
}

img {
	border-width: 0;
}

/* 1 HEADER */

.header {
	
	background-repeat: no-repeat;
	position: relative;
	width: 977px;	
	margin-left: auto;
	margin-right: auto;	
	text-align:left;
}

h1 {
	position: absolute;
	left: 67px;
	top: 12px;
	text-transform: uppercase;
	font-size: 18px;
}

h2 {
	position: absolute;
	left: 37px;
	top: 60px;
	font-size: 11px;
}

.menua {
	position: absolute;
	text-decoration: underline none;
	top: 115px; 
	left: 0px;	
	font-size: 12px;	
	font-weight: bold;	
    padding: 0; 
    margin: 0;    
    display: inline;
    z-index:100;
}
.menua a, .menua a:link, .menua a:visited, .menua a:active
    { 
    color: #ffffff;    
    background: #8CC63F url("images/left-tab.gif") left top no-repeat; 
    text-decoration: underline none; 
    padding-left: 10px ;        
    padding-top:10px;    
    padding-bottom:10px;    
} 
.menua a:hover
{
    color: #737373;      
}

.menua a
    { 
    display: block; 
    float: left 
}
/* Commented backslash hack hides rule from IE5-Mac \*/ 
.menua a
    { 
    float: none 
} 
/* End IE5-Mac hack */ 
.menuaspan
{
    background: #8CC63F url("images/right-tab.gif") right top no-repeat; 
    padding-right: 10px ;         
    text-decoration: underline none; 
    float: none;
    float: right;
}

menuaselected, .menuaselected a, .menuaselected a:link, .menuaselected a:visited,.menuaselected a:hover,.menuaselected a:active
    { 
    color: #737373;    
    background: #8CC63F url("images/left-tab.gif") left top no-repeat; 
    text-decoration: underline none; 
    padding-left: 10px 
} 

.nav {
	position: absolute;
	right: 37px;
	top: 95px;
	text-decoration: underline none;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.nav a:visited {
	text-decoration: underline none;
	font-weight: bold;
	color: #FFFFFF;
}

.nav a:hover {
	text-decoration: underline none;
	font-weight: bold;
	color: #FFFFFF;
}

.nav a:link {
	text-decoration: underline none;
	font-weight: bold;
	color: #FFFFFF;
}

.nav a:active 
{
    text-decoration: underline none;
    font-weight: bold;
	color: #FFFFFF;
}

.language {
	position: relative;
	left: 50px;
	top: 20px;		
}

.language a, .language a:link, .language a:visited, .language a:hover, .language a:active
    { 
    color: #00703c;        
    text-decoration: underline none;     
    font-size: smaller;
}

.logout {
	position: absolute;
	right: 5px;
	top: 30px;		
}

/* 1.1 SHIM */

.shim {
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	height: 8px;
	font-size: 0;
}

.column {
	background-image: url(images/content-shim.gif);
}

.gradient {
	background-image: url(images/content-shim-photo.gif);
}

.solid {
	background-image: url(images/content-shim-none.gif);
}

/* 2 PAGE */

.page 
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;	
}

.page:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

h3 {
	margin-top: 1.0em;
	margin-bottom: 1.12em;
	font-size: 1.5em;
	font-weight: bold;
	color: #737373;
}
h4 {
	margin-top: 0.5em;
	margin-bottom: 0.75em;
	font-size: 1.2em;
	font-weight: bold;
	color: #737373;
}

h5 {
	margin-top: 1.0em;
	margin-bottom: 1.12em;	
}

/* 2.1 HOME, RESUME, LINKS, REGISTER, ADMIN/ALBUMS, ADMIN/PHOTOS PAGES */

#home, #resume, #links, #register, #admin-albums, #admin-photos {	
	position: relative;
	width: 950px;
	padding: 0px 5px;
	padding-top: 1px; /* Weird Mozilla Bug */
	padding-bottom: 40px; /* Weird Mozilla Bug */		
}


/*---------------------------------------------*/
/*	Desktop
/*---------------------------------------------*/

#desktop 
{		
	width: 977px;	
	height: 559px;				
}

#desktopgeneral
{		
	width: 977px;	
	height: 559px;			
	background-image:url('./images2/backgrounds/back_gen_blank.png');
}

.albummaster
{		
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 977px;	
	height: 559px;			
	background-image:url('./images2/backgrounds/back_albums.png');
}

#desktopgeneralcontent
{		
	width: 935px;	
	height: 530px;		
	position:relative;
	margin-left: 30px;		
	top:15px;
	overflow:auto;	
}

#desktopsidebarleft
{
	position: relative;
	top:10px;
	left:10px;
	width: 205px;
	height: 412px;			
}

#desktopheader
{
	position: absolute;
	top: 115px;
	margin-left: 225px;
    height : 35px;	 
    width : 664px;                  
    padding:0;      
}


#desktopheader	#desktopmenu
{
	margin:0px 0px 0px 0px;
	padding:0px;		
}

#desktopcontent
{	
	position: absolute;
	top: 165px;
	margin-left: 220px;
    height: 355px;	
	width: 664px;	
	overflow:auto;			
}

#desktopsidebarright
{		
	position: absolute;
	top: 157px;
	margin: 0px 0px 0px 896px;
	padding: 0px 0px 0px 0px;      
}

.Favorites   {
	width: 66px;
	Height: 320px;
  }
  
#favoritesimage 
{
	position:relative;
	top: 24px;
	left:7px;
}

#desktopfooter
{
	position: absolute;
	top: 535px;	    
    width : 977px;           
}

#desktopfooter #desktopbasket
{	
	display:block;
	vertical-align:middle;
	height: 115px;	
	margin:0;
	padding:0;	
}

#desktopbasket	#leftcolumn
{	
	position : relative;			
	left : 0px;	
	width: 110px;
	height:100%;
	float:left;			
}

#desktopbasket	#leftcolumn #yourcartimage
{	
	position : relative;			
	top:78px;
	left : 10px;				
	font-size:10px;
	text-align:center;
	width:92px;
	
}

#desktopbasket	#centercolumn
{	
	position : relative;		
	float:left;
	width:690px;
	height:100%;		
}

#desktopbasket	#centercolumn	#prevbutton
{	
	position : relative;		
	float:left;			
	height:100%;	
	top:11px;			
	margin-right:10px;		
}

#desktopbasket	#centercolumn	#basketcontent
{	
	position : relative;		
	float:left;		
	height:100%;	
	top:0px;	
	margin-top:11px;
	color: #00703C;
}

#desktopbasket	#centercolumn	#nextbutton
{	
	position : relative;		
	float:right;		
	height:100%;		
	top:11px;	
}

#desktopbasket	#rightcolumn
{	
	position : relative;		
	float:right;
	width:165px;
	height:100%;			
}

#desktopbasket	#rightcolumn	#description
{	
	position : absolute;	
	width:100%;
	right:15px;
	top:10px;
	text-align:right;
}

#desktopbasket	#rightcolumn	#gotocart
{	
	position : absolute;
	margin-right:0px;				
	left: 4px;
	top: 68px;		
}


/*---------------------------------------------*/
/*---------------------------------------------*/

#sidebar {
	float: left;
	width: 214px;
	height: 100%;	
}

#content 
{
    height: 100%;
	margin-left: 235px;	
}

#albumheader
{
    position: absolute;
	top: 120px;
	margin-left: 15px;
    height : 35px;	 
    width : 664px;                  
    padding:0;     
}

.albumcontent 
{
	position:relative;
	float: left;
	margin-left: 25px;
	margin-top:50px;
	width: 685px;
	height: 490px;
	overflow:auto;		
}

.albumsidebar 
{
	position:relative;
	float: right;        
	margin-top:50px;
	margin-right:25px;
	width:220px;
	height: 490px;			
}

#whatsnew {
	float: left;
	width: 200px;
	height: 100%;
}

#coollinks {
	margin-left: 220px;
}

#resume h4, #links h4 {
	margin-top: 0;
	border-top: 1px solid #bababa;
	padding-top: 1.0em;
	position: absolute;
	left: 37px;
	width: 214px;
}

#resume #photo {
	position: absolute;
	left: 37px;
	top: 20px;
	width: 214px;
}

#resume .first {
	margin-top: 0;
	border-top: 1px solid #bababa;
	padding-top: 1.5em;
}

dl {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #bababa;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	position: relative;
}

dt {
	position: absolute;
	left: 0;
}

dd {
	margin-left: 150px;
	height: 2.0em;
}

.emptydata td {
	padding: 50px;
	color: #aeaeae;
}

/* 2.2 ALBUMS PAGE */



.view {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
}

.view .photo-frame {
	margin-left: auto;
	margin-right: auto;
}

.item {
	padding: 5px 20px;
	color: #B2B2B2;
}

.item h4 {
	margin-bottom: 0.4em;
}

.nullpanel {
	padding: 150px;
	width: auto;
	text-align: center;
}

/* 2.3 PHOTOS, DETAILS, ADMIN/DETAILS PAGE */

#photos, #details, #admin-details {
	background-image: url(images/body-repeat-photo.gif);
	padding: 0;
	width: 760px;
}

.buttonbar {	
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	margin-top:0px;
	padding-bottom: 0px;
	margin-bottom:0px;
	width: auto;
	height: auto;
	text-align: center;		
}

#photos .view, #admin-details .view {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* 3 FOOTER */

.footerbg {	
	width: auto;	
	text-align: center;
}
.footer 
{	
	margin-left: auto;
	margin-right: auto;
	width: 977px;
	height: 146px;
	text-align: center;	
	background-image: url(./images2/backgrounds/back_footer.jpg);	
}

.footer #contact{	
	position:relative;
	height:20px;
	left:25px;
	top: 10px;			    	
	float:left;
}

.footer #phone{	
	position:relative;	
	height:20px;
	top: 10px;			    	
	float:right;
	margin-right:25px;
}

.footer #purchaseconditions
{
	font-size: 10px;			    			
	position:relative;	
	height:75px;	
	top: 37px;
	margin-right:25px;
	margin-left:25px;			
}

.footer #copyright
{	
	font-size: 10px;			    		
	text-align:right;
	position:relative;	
	margin-top: 38px;	
	margin-right:25px;	
}

.menub {
	margin: 5px auto 5px auto;
	text-transform: uppercase;
	font-size: 10px;
}

.menub a:visited {
	text-decoration: underline;
	color: #00703c;
}

.checkoutlink {	
	text-transform: uppercase;	
	font-weight:bold;
	color: #00703c;	
}



/* Inline styles are used because image controls hard code a border property */

.photo_198 {
	border: 4px solid #FFFFFF;
}

.errorbox
{
    border-right: #660000 1px solid;
    border-top: #660000 1px solid;
    font-weight: bold;
    font-size: 9pt;
    border-left: #660000 1px solid;
    color: #660000;
    border-bottom: #660000 1px solid;    
    background-color: #ffcccc;
    width:auto;
}

.sectionheader
{
    border-bottom: #dcdcdc 1px dotted;    
    font-size: 8pt;
    padding-bottom: 5px;
    font-weight:bold;
}

.bevelmenu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
}

.bevelmenu a
{
    color: White;
    display: block;
    width: 220px;
    padding: 4px 2px;    
    font-weight: bold;    
    border: 2px solid #ffffff;
    text-decoration:none;
    background: #8CC63F url(images/tabright.gif) top right no-repeat;
}

.bevelmenu a:hover
{
    color: black;        
    background-color: #999999;    
}

html>body .bevelmenu a:active
{ 
    border-style: inset;
}

.bevelmenuselected
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
}

.bevelmenuselected a
{    
    display: block;
    width: 220px;
    padding: 4px 2px;    
    font-weight: bold;    
    border: 2px solid #ffffff;
    text-decoration:none;
    background: #C1C1C1 url(images/tabright.gif) top right no-repeat;
    color: black;    
}



/* Accordion */
.accordionHeader
{    
    color: white;    
    background: #8CC63F ;	
	font-size: 12px;
	font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.accordionHeader a
{
	color: white;
    background: #8CC63F url(images/tabright.gif) top right no-repeat;	
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;	
	text-decoration: none;
	display: block;
}

.accordionHeader a:hover
{
	color: black;        
    background-color: #999999; 
}

.accordionContent
{
    background-color: #DDDDDD;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

/* Hasbro */
.hasbrohelp
{			
	font-size: 0;	
	padding: 0px;
	margin: 0px;
	border: none;	
}

.thumbimage
{
    width: 100px;
    height: 100px;
}

.modalBackground 
{	
	background-color:#fff; 
	filter:alpha(opacity=70); 
	opacity:0.7px; 
} 

.categoryheader
{	
	position:relative;
	top:1px;
	padding:0;
	margin:0;
	height:29px;
	width:auto;	
	border-style:solid;
	border-color:#C6C8CA;
	border-width:0px;
	background-color:white;	
	float:left;	
}

.categoryheaderpadding
{	
	position:relative;
	top:1px;
	padding:0;
	margin:0;
	height:29px;
	width:auto;		
	background-color:Transparent;	
	float:right;
}

.categoryname
{	
	border-top-style:solid;
	border-top-color:#C6C8CA;
	border-top-width:1px;
	background-color:White;
	font-weight:bold;
	color: #8CC63F;
}

.categoryname h4
{		
	font-weight:bold;
	color: #8CC63F;
}

.category
{	
	border-style:solid;
	border-color:#C6C8CA;
	background-color:White;
	border-width:1px;
	padding:0;
	margin:0 0 15px 0;
	width:610px;			
}

#categoryimage
{	
	border-style:solid;
	border-color:#C6C8CA;
	background-color:White;
	border-width:1px;
	padding:0;
	margin: 10px 5px 5px 5px;		
	width:100px;
}

#backgroundcategoryimage
{		
	padding:0;
	margin: 10px 5px 0px 5px;			
	width:98px;
	height:100%;
}

#categorydescription
{		
	background-color:transparent;	
	padding:0;
	margin: 5px 5px 10px 10px;	
	line-height:1;
	width:100px;
}

.category	#seeall
{		
	margin-right:15px;
	margin-top:45px;
}

.product
{
	padding:0;
	margin:0;
	font-size:14px;
	float:left;
	background-color:White;	
	width:675px;
}
.product	#productimage
{
	position:relative;
	float:left;
	margin:16px 16px 16px 16px;
	border-style:solid;
	border-color:#C6C8CA;	
	border-width:1px;	
	height:256px;
}

.product	#productdescription
{
	position:relative;
	float:right;
	margin:16px 16px 16px 0px;
	width:365px;	
	background: url(../../images2/Lightbox/lbprod_background.jpg) no-repeat;		
}

.product	#productdescription #productmodelname
{
	font-weight:bold;
	color: #00703C;
	position:relative;
	float:left;
	margin-top: 16px;
	margin-left:16px;	
}

.product	#productdescription #productprice
{
	font-weight:normal;
	color: #00703C;
	position:relative;
	float:right;
	margin-top: 16px;
	margin-right:16px;		
}

.product	#productdescription #productdetails
{	
	position:relative;
	float:left;
	width:auto;
	margin-left:16px;		
}


.product	#productfooter
{
	position: relative;
	font-size:12px;
	clear: both;
	margin: 0 16px 16px 16px;			
}

.addpersonalalbum
{
	margin-top:25px;	
	margin-right:10px;
}

.addpersonalalbum h4
{		
	font-weight:bold;
	color: #00703C;
}

.mergeaccounts 
{
	margin-top:15px;	
	margin-right:10px;
}

.mergeaccounts  h4
{		
	font-weight:bold;
	color: #00703C;
}

.mergeaccounts  h5
{	
	color: #00703C;
	font-size: 12px;
}

.mergeaccounts .moreinfo
{
	position:absolute;
	bottom:10px;	
}

.mergeaccounts .moreinfo #moreinfobutton
{
	position:absolute;
	bottom:35px;
	left:13px;
}

.albums {
	margin-top:25px;	
	margin-left:8px;
}

.albums h4
{		
	font-weight:bold;
	color: #00703C;
}

#createaccountmaster
{		
	width: 977px;	
	height: 559px;			
	background-image:url('./images2/backgrounds/back_create_account.png');	
}

#createaccountmaster	#header
{		
	font-size: 14px;	
	position: relative;
	margin: 20px 0 0 5px;	
}

#createaccountmaster	#createaccountleft
{		
	font-size: 12px;	
	position: relative;
	float: left;
	margin: 25px 0 0 35px;	
	width: 330px;
	height: 250px;		
}

#createaccountmaster	#createaccountright
{		
	font-size: 12px;	
	position: relative;
	float: right;
	margin: 0px 20px 0 0px;	
	width: 400px;	
	height: 450px;
	line-height:1;	
}

#createaccountmaster	#createaccountright h4
{		
	margin-top: 15px;
	font-size: 13px;	
	color: #00703C;
}

#createaccountmaster	#createaccountright ul
{		
	list-style-image: url('./images2/backgrounds/bullet-lightboxes.jpg');	
	padding: 0px;
	margin: 0px;
	line-height:1;
}

#createaccountmaster	#createaccountright li
{
	margin-left:20px;
}

#loginmaster
{		
	width: 977px;	
	height: 559px;			
	background-image:url('./images2/backgrounds/back_login.png');	
}

#loginmaster	#loginheader
{		
	font-size: 17px;
	color: #6D6F71;
	position: relative;
	margin: 15px 0 0 5px;	
}

#loginmaster	#loginheader2
{		
	font-size: 14px;	
	position: relative;
	margin: 30px 0 0 5px;	
}

#loginmaster	#loginleft
{		
	font-size: 12px;	
	line-height:1.25;
	position: relative;
	float: left;
	margin: 25px 0 0 15px;	
	width: 230px;
	height: 210px;		
}

#loginmaster h4
{		
	font-size: 13px;
	color: #00703C;	
}

#loginmaster	#loginright
{		
	font-size: 14px;	
	position: relative;
	float: right;
	margin: 20px 375px 0 0px;	
	width: 230px;	
	height: 210px;
	line-height:2.25;
}

#loginmoreinfo
{
	width: 400px;	
	height: 470px;
	margin: 40px 40px 40px 40px;
	line-height:1;
}

#loginmoreinfo	h4
{
	font-size: 13px;
	color: #00703C;	
}

#loginmoreinfo ul
{		
	list-style-image: url('./images2/backgrounds/bullet-lightboxes.jpg');	
	padding: 0px;
	margin: 0px;
	line-height:1.25;
}

#loginmoreinfo li
{
	margin-left:20px;	
}

#loginmaster	.graduationheader
{		
	position:relative;	
	font-size: 14px;		
	margin: 55px 0 0 5px;	
	clear:both;
}

#loginmaster	.graduation
{		
	position:relative;		
	font-size: 12px;		
	margin: 0px 0 0 5px;		
	width: 530px;		
	clear:both;
}

#loginmaster	.appointmentheader
{		
	position:relative;	
	font-size: 14px;		
	margin: 10px 0 0 5px;			
	clear:both;
}

#loginmaster	.appointment
{		
	position:relative;		
	font-size: 12px;	
	position: relative;
	margin: 0px 0 0 5px;		
	width: 530px;			
}

#loginmaster	#board
{		
	position:absolute;
	left: 598px;		
	bottom: 25px;
	
}

.pnlUserNameRecovery
{		
	line-height: 2;
}

#createaccountreminder h4
{		
	font-weight:bold;
	color: #8CC63F;
}

#createaccountreminder ul
{		
	list-style-image: url('./images2/backgrounds/bullet-lightboxes.jpg');	
	padding: 0px;
	margin: 0px;
	line-height:1.25;
}

#createaccountreminder li
{
	margin-left:20px;	
}