<?xml version="1.0"?>
<configuration >
	<configSections>
		<section name="CommerceOrdersProvider" type="Commerce.Providers.OrdersProviderConfigurationHandler, Commerce.OrdersProvider"/>
		<section name="CommerceShoppingCartProvider" type="Commerce.Providers.ShoppingCartConfigurationHandler, Commerce.ShoppingCartProvider"/>
		<section name="CommerceCatalogProvider" type="Commerce.Providers.CatalogProviderConfigurationHandler, Commerce.CatalogProvider"/>
		<section name="CommerceShippingProvider" type="Commerce.Providers.ShippingProviderConfigurationHandler, Commerce.ShippingProvider"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--PayPal Settings-->
		<add key="BusinessEmail" value="ventes@cameleophoto.com"/>
		<add key="RequireShipping" value="True"/>
		<add key="RequireLogin" value="checkout"/>
		<add key="SecureURL" value="http://localhost/pp2/"/>
		<add key="SiteURL" value="http://localhost/pp2/"/>
		<add key="ShipFromZip" value="96960"/>
		<add key="ShowZeroInventoryItems" value="True"/>
		<!--the sandbox is PayPal's development server-->
		<add key="UseSandbox" value="False"/>
		<!--this is the currency code that will be sent to process the transaction
			valid codes are "USD" (us dollar), "EUR" (euro), "GBP" (Brit pound), JPY (Japanese yen) etc.-->
		<add key="CurrencyCode" value="CAD"/>
		<!--Max number of composite photos-->
		<add key="MaxComposites" value="10"/>
		<!--Id of the photo product category-->
		<add key="PhotosCategoryId" value="40"/>
		<add key="PhotosWestCategoryId" value="53"/>
		<add key="PhotosUSCategoryId" value="71"/>
		<add key="DigitalRightsCategoryId" value="35"/>
		<!--Web discount-->
		<add key="WebDiscountPercentage" value="0,05"/>
		<!--Minimum sale amount-->
		<add key="MinimumSale" value="0"/>
		<!--Free Shipping Sale Amount-->
		<add key="FreeShippingAmount" value="50"/>
		<!-- -->
		<add key="CuteWebUI.AjaxUploader.TempDirectory" value="~/UploadTemp"/>
	</appSettings>
	<CommerceShippingProvider defaultProvider="SqlShippingProvider">
		<providers>
			<clear/>
			<add name="SqlShippingProvider" type="Commerce.Providers.SqlShippingProvider, Commerce.ShippingProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</CommerceShippingProvider>
	<CommerceOrdersProvider defaultProvider="SqlOrdersProvider">
		<providers>
			<clear/>
			<add name="SqlOrdersProvider" type="Commerce.Providers.SqlOrdersProvider, Commerce.OrdersProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</CommerceOrdersProvider>
	<CommerceShoppingCartProvider defaultProvider="SqlShoppingCartProvider">
		<providers>
			<clear/>
			<add name="SqlShoppingCartProvider" type="Commerce.Providers.SqlShoppingCartProvider, Commerce.ShoppingCartProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</CommerceShoppingCartProvider>
	<CommerceCatalogProvider defaultProvider="SqlCatalogProvider">
		<providers>
			<clear/>
			<add name="SqlCatalogProvider" type="Commerce.Providers.SqlCatalogProvider, Commerce.CatalogProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</CommerceCatalogProvider>
	<connectionStrings>
		<add name="CommerceTemplate" connectionString="Data Source=SQLCAMELEO;Initial Catalog=CommerceDB;Integrated Security=True;Network Library=dbmssocn;User Instance=False" providerName="System.Data.SqlClient"/>
		<add name="Personal" connectionString="Data Source=SQLCAMELEO;Initial Catalog=GalleryDB;Integrated Security=True;Network Library=dbmssocn;User Instance=False" providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer"/><add name="LocalSqlServer" connectionString="Data Source=SQLCAMELEO;Initial Catalog=ASPNET;Integrated Security=True;Network Library=dbmssocn;User Instance=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<processModel timeout="23:59:59"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
		</httpModules>
		<pages styleSheetTheme="White" enableEventValidation="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
				<add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI"/>
			</controls>
		</pages>
		<customErrors mode="On" defaultRedirect="GenericError.aspx"/>
		<compilation debug="false">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<remove extension=".lic"/>
				<add extension=".lic" type="System.Web.Compilation.ForceCopyBuildProvider"/>
			</buildProviders>
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-CA" uiCulture="fr"/>
		<roleManager enabled="true">
		</roleManager>
		<membership defaultProvider="CameleoMembershipProvider">
			<providers>
				<clear/>
				<add connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="50" passwordAttemptWindow="60" passwordStrengthRegularExpression="" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="CameleoMembershipProvider" type="Cameleo.CameleoMembershipProvider"/>
			</providers>
		</membership>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<anonymousIdentification enabled="true"/>
		<profile automaticSaveEnabled="true">
			<properties>
				<group name="Commerce">
					<!--shipping prefs-->
					<add name="ShipFirst" type="System.String" allowAnonymous="false"/>
					<add name="ShipLast" type="System.String" allowAnonymous="false"/>
					<add name="ShipEmail" type="System.String" allowAnonymous="false"/>
					<add name="ShipCity" type="System.String" allowAnonymous="false"/>
					<add name="ShipAddress1" type="System.String" allowAnonymous="false"/>
					<add name="ShipAddress2" type="System.String" allowAnonymous="false"/>
					<add name="ShipState" type="System.String" allowAnonymous="false"/>
					<add name="ShipZip" type="System.String" allowAnonymous="false"/>
					<add name="ShipCountry" type="System.String" allowAnonymous="false"/>
					<add name="ShipPhone" type="System.String" allowAnonymous="false"/>
					<!--encrypted info-->
					<add name="CCNumber" type="System.String" allowAnonymous="false"/>
					<add name="CCType" type="System.String" allowAnonymous="false"/>
					<add name="CCExpMonth" type="System.String" allowAnonymous="false"/>
					<add name="CCExpYear" type="System.String" allowAnonymous="false"/>
					<add name="CCAuthNumber" type="System.String" allowAnonymous="false"/>
				</group>
				<add name="PreferredCulture" type="System.String" allowAnonymous="true"/>
				<add name="First" type="System.String" allowAnonymous="false"/>
				<add name="Last" type="System.String" allowAnonymous="false"/>
				<add name="City" type="System.String" allowAnonymous="false"/>
				<add name="Address1" type="System.String" allowAnonymous="false"/>
				<add name="Address2" type="System.String" allowAnonymous="false"/>
				<add name="State" type="System.String" allowAnonymous="false"/>
				<add name="Zip" type="System.String" allowAnonymous="false"/>
				<add name="Country" type="System.String" allowAnonymous="false"/>
				<add name="Phone" type="System.String" allowAnonymous="false"/>
				<add name="CaptureActionLink" type="System.Boolean" allowAnonymous="false"/>
				<add name="CaptureActionDate" type="System.String" allowAnonymous="false"/>
				<!--Client config-->
				<group name="Client">
					<add name="ClientName" type="System.String" allowAnonymous="false"/>
					<add name="ClientType" type="System.String" allowAnonymous="false"/>
					<add name="First" type="System.String" allowAnonymous="false"/>
					<add name="Last" type="System.String" allowAnonymous="false"/>
					<add name="Email" type="System.String" allowAnonymous="false"/>
					<add name="City" type="System.String" allowAnonymous="false"/>
					<add name="Address1" type="System.String" allowAnonymous="false"/>
					<add name="Address2" type="System.String" allowAnonymous="false"/>
					<add name="State" type="System.String" allowAnonymous="false"/>
					<add name="Zip" type="System.String" allowAnonymous="false"/>
					<add name="Country" type="System.String" allowAnonymous="false"/>
					<add name="Phone" type="System.String" allowAnonymous="false"/>
					<add name="Fax" type="System.String" allowAnonymous="false"/>
					<add name="Cell" type="System.String" allowAnonymous="false"/>
					<add name="WebSite" type="System.String" allowAnonymous="false"/>
					<add name="ReturnType" type="System.String" allowAnonymous="false"/>
					<add name="ReturnValue" type="System.String" allowAnonymous="false"/>
				</group>
				<!--Event Shoot config-->
				<group name="EventShoot">
					<add name="First" type="System.String" allowAnonymous="false"/>
					<add name="Last" type="System.String" allowAnonymous="false"/>
					<add name="Email" type="System.String" allowAnonymous="false"/>
					<add name="City" type="System.String" allowAnonymous="false"/>
					<add name="Address1" type="System.String" allowAnonymous="false"/>
					<add name="Address2" type="System.String" allowAnonymous="false"/>
					<add name="State" type="System.String" allowAnonymous="false"/>
					<add name="Zip" type="System.String" allowAnonymous="false"/>
					<add name="Country" type="System.String" allowAnonymous="false"/>
					<add name="Phone" type="System.String" allowAnonymous="false"/>
					<add name="Fax" type="System.String" allowAnonymous="false"/>
					<add name="Cell" type="System.String" allowAnonymous="false"/>
					<add name="WebSite" type="System.String" allowAnonymous="false"/>
					<add name="ReturnType" type="System.String" allowAnonymous="false"/>
					<add name="ReturnValue" type="System.String" allowAnonymous="false"/>
				</group>
				<!--Photograph config-->
				<group name="Photograph">
					<add name="CompanyName" type="System.String" allowAnonymous="false"/>
					<add name="First" type="System.String" allowAnonymous="false"/>
					<add name="Last" type="System.String" allowAnonymous="false"/>
					<add name="Email" type="System.String" allowAnonymous="false"/>
					<add name="City" type="System.String" allowAnonymous="false"/>
					<add name="Address1" type="System.String" allowAnonymous="false"/>
					<add name="Address2" type="System.String" allowAnonymous="false"/>
					<add name="State" type="System.String" allowAnonymous="false"/>
					<add name="Zip" type="System.String" allowAnonymous="false"/>
					<add name="Country" type="System.String" allowAnonymous="false"/>
					<add name="Phone" type="System.String" allowAnonymous="false"/>
					<add name="Fax" type="System.String" allowAnonymous="false"/>
					<add name="Cell" type="System.String" allowAnonymous="false"/>
					<add name="WebSite" type="System.String" allowAnonymous="false"/>
				</group>
				<!--Laboratory config-->
				<group name="Laboratory">
					<add name="CompanyName" type="System.String" allowAnonymous="false"/>
					<add name="First" type="System.String" allowAnonymous="false"/>
					<add name="Last" type="System.String" allowAnonymous="false"/>
					<add name="Email" type="System.String" allowAnonymous="false"/>
					<add name="City" type="System.String" allowAnonymous="false"/>
					<add name="Address1" type="System.String" allowAnonymous="false"/>
					<add name="Address2" type="System.String" allowAnonymous="false"/>
					<add name="State" type="System.String" allowAnonymous="false"/>
					<add name="Zip" type="System.String" allowAnonymous="false"/>
					<add name="Country" type="System.String" allowAnonymous="false"/>
					<add name="Phone" type="System.String" allowAnonymous="false"/>
					<add name="Fax" type="System.String" allowAnonymous="false"/>
					<add name="Cell" type="System.String" allowAnonymous="false"/>
					<add name="WebSite" type="System.String" allowAnonymous="false"/>
				</group>
			</properties>
		</profile>
		<machineKey validationKey="2D383371BBB931EE4621900B13F2C6D7C9ABAB23A150E49B6F17179C33DD9F1207D2B842A2792C5CD002CCC87AC030EA214C654FDE26F253BE1F19B544A55508" decryptionKey="B56B5A75C04A478CF2C343B5AC1AE1E1E6FAA67F2CF8D7AEF7C0298905CFCDA7" validation="SHA1" decryption="AES"/>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
				<!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
			</webServices>
			<!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
		</scripting>
	</system.web.extensions>
	<system.net>
		<mailSettings>
			<smtp from="support@cameleophoto.com">
				<network host="localhost"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
			<httpRuntime maxRequestLength="257152" executionTimeout="2700"/>
		</system.web>
	</location>
	<location path="Admin/Gallery">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Events"/>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
			<httpRuntime maxRequestLength="128576" executionTimeout="900"/>
		</system.web>
	</location>
	<location path="AdminClient">
		<system.web>
			<authorization>
				<allow roles="Clients"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminLab">
		<system.web>
			<authorization>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminPhotograph">
		<system.web>
			<authorization>
				<allow roles="Photographs"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminUser">
		<system.web>
			<authorization>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminCommon">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="desktop.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="desktopframes.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="desktopproducts.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="albums.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="personalalbums.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="basket.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Friends"/>
				<allow roles="Clients"/>
				<allow roles="Photographs"/>
				<allow roles="Users"/>
				<allow roles="Events"/>
				<allow roles="Laboratories"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Upload">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--		RENDEZ-VOUS			-->
	<location path="RendezVous/calendrier.aspx">
		<system.web>
			<authorization>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RendezVous/grille_journee.aspx">
		<system.web>
			<authorization>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RendezVous/paiement.aspx">
		<system.web>
			<authorization>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RendezVous/confirmation.aspx">
		<system.web>
			<authorization>
				<allow roles="Users"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--		REPRESENTANTS		-->
	<location path="Admin/Default.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Representants"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin/admin_horaire.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Representants"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin/admin_horaire_details.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Representants"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin/admin_rd_client_calendrier.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Representants"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin/admin_rd_client_grillejournee.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<allow roles="Representants"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ScriptResource.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
